<template>
  <section>
    <section class="hero is-primary is-small">
      <div class="hero-body">
        <div class="container">
          <h2 class="title label">Search</h2>
          <div class="subtitle field has-addons">
            <p class="control is-expanded">
              <input class="input" type="text" v-model="searchString" placeholder="Search for anything ...">
            </p>
            <p class="control">
              <a class="button" @click="search">Search</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">Browse</h1>
        <div class="columns">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://via.placeholder.com/400x300" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a hfef="#">Lifts</a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://via.placeholder.com/400x300" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a hfef="#">Tractors</a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://via.placeholder.com/400x300" alt="Image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <a hfef="#">Snowmobiles</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>

export default {
  data () {
    return {
      searchString: ''
    }
  },
  methods: {
    search () {
      this.$router.push({ path: 'search', query: { s: this.searchString } })
    }
  }
}
</script>

<style scoped>

</style>
