<template>
  <div class="columns">
    <div class="column is-3 is-fullheight">
      <nav class="panel">
        <p class="panel-heading">
          Search
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="Search">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
        <p class="panel-heading">
          Categories
        </p>
        <label class="panel-block">
          <input type="checkbox"> Part Catalogs
        </label>
        <label class="panel-block">
          <input type="checkbox"> Assembly Instructions
        </label>
        <p class="panel-heading">
          Tags
        </p>
        <div class="panel-block">
          <div class="field">
            <label class="label">Product Type</label>
            <p class="control">
              <input class="input is-fullwidth" type="text" placeholder="Text input">
            </p>
          </div>
        </div>
        <div class="panel-block">
          <div class="field">
            <label class="label">Language</label>
            <p class="control">
              <span class="select is-fullwidth">
                <select>
                  <option>Select</option>
                  <option>English</option>
                  <option>French</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="panel-block">
          <button class="button is-primary is-outlined is-fullwidth">
            Reset all filters
          </button>
        </div>
      </nav>
    </div>
    <div class="column is-9">
      <div class="field is-grouped">
        <p class="control">
          <a class="button is-focused">All</a>
        </p>
        <p class="control">
          <a class="button">Catalogs</a>
        </p>
        <p class="control">
          <a class="button">Parts</a>
        </p>
        <p class="control">
          <a class="button">Assets</a>
        </p>
      </div>
      <section class="section">
        <section class="section is-paddingless">
          <div class="container">
            <h1 class="title">Catalogs: 3 results</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Identifier</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Misty Abbott</td>
                  <td>Bass Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>John Smith</td>
                  <td>Rhythm Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Robert Mikels</td>
                  <td>Lead Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Karyn Holmberg</td>
                  <td>Drums</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="section is-paddingless">
          <div class="container">
            <h1 class="title">Parts: 3 results</h1>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Part Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Misty Abbott</td>
                  <td>Bass Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>John Smith</td>
                  <td>Rhythm Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Robert Mikels</td>
                  <td>Lead Guitar</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Karyn Holmberg</td>
                  <td>Drums</td>
                  <td class="is-icon">
                    <a href="#">
                      <i class="fa fa-info-circle"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>
.field {
  width: 100%;
}

.is-outlined {
  margin: 1rem .5rem;
}
</style>
