<template>
  <div>
      <h1 class="subtitle">
        Authoring Dashboard
      </h1>
    <section class="hero is-small">
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="level">
          <div class="level-item has-text-åcentered">
            <p class="heading">Content</p>
            <p class="title">3,456</p>
          </div>
          <div class="level-item has-text-centered">
            <p class="heading">Parts</p>
            <p class="title">78k</p>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="columns is-mobile is-multiline">
        <div class="column is-half-desktop is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Viewd
            </p>
            <p class="panel-tabs">
              <a class="is-active" href="#">All Time</a>
              <a href="#">Past week</a>
              <a href="#">Past month</a>
              <a href="#">Past quarter</a>
              <a href="#">Past Year</a>
            </p>
            <div class="panel-block">
              <div id="chart1" style="height: 250px;"></div>
            </div>
          </section>
        </div>
        <div class="column is-half-desktop is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Updated
            </p>
            <p class="panel-tabs">
              <a class="is-active" href="#">All Time</a>
              <a href="#">Past week</a>
              <a href="#">Past month</a>
              <a href="#">Past quarter</a>
              <a href="#">Past Year</a>
            </p>
            <div class="panel-block">
              <div id="chart1" style="height: 250px;"></div>
            </div>
          </section>
        </div>
        <div class="column is-12 is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Popular Content
            </p>
            <div class="panel-block">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Identifier</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Misty Abbott</td>
                    <td>Bass Guitar</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>John Smith</td>
                    <td>Rhythm Guitar</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Robert Mikels</td>
                    <td>Lead Guitar</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Karyn Holmberg</td>
                    <td>Drums</td>
                    <td class="is-icon">
                      <a href="#">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
