<template>
  <div class="columns">
    <div class="column is-3" v-bind:class="[isNavOpen ? '' : 'is-hidden']">
       <aside class="menu is-fullheight" v-bind:class="[isNavOpen ? '' : 'is-hidden']">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li>
             <router-link to="dashboard">Dashboard</router-link>
          </li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li>
            <a>Users</a>
          </li>
          <li>
            <a>User Groups</a>
          </li>
        </ul> 
      </aside>
    </div>
    <div class="column admin-panel">
      <span class="icon is-pulled-left">
        <a class="fa" @click="isNavOpen = !isNavOpen" v-bind:class="[isNavOpen ? 'fa-chevron-left' : 'fa-chevron-right']"></a>
      </span>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isNavOpen: true
    }
  }
}
</script>

<style scoped>
  .menu {
    padding: 0 .5rem;
  }
</style>
