<template>
  <div>
    <h1 class="subtitle">
      Admin Dashboard
    </h1>
    <section class="hero is-small">
      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="level">
          <div class="level-item has-text-centered">
            <p class="heading">Users</p>
            <p class="title">3,456</p>
          </div>
          <div class="level-item has-text-centered">
            <p class="heading">User Groups</p>
            <p class="title">12</p>
          </div>
          <div class="level-item has-text-centered">
            <p class="heading">Organizations</p>
            <p class="title">4</p>
          </div>
        </nav>
      </div>
    </section>
    <section class="section">
      <div class="columns is-mobile is-multiline">
        <div class="column is-half-desktop is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Users
            </p>
            <p class="panel-tabs">
              <a class="is-active" href="#">All Time</a>
              <a href="#">Past week</a>
              <a href="#">Past month</a>
              <a href="#">Past quarter</a>
              <a href="#">Past Year</a>
            </p>
            <div class="panel-block">
              <div id="chart1" style="height: 250px;"></div>
            </div>
          </section>
        </div>
        <div class="column is-half-desktop is-full-mobile">
          <section class="panel">
            <p class="panel-heading">
              Organizations
            </p>
            <p class="panel-tabs">
              <a class="is-active" href="#">All Time</a>
              <a href="#">Past week</a>
              <a href="#">Past month</a>
              <a href="#">Past quarter</a>
              <a href="#">Past Year</a>
            </p>
            <div class="panel-block">
              <div id="chart1" style="height: 250px;"></div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
