<template>
  <div id="app">
    <nav class="navbar">
      <div class="navbar-brand">
        <span class="navbar-item">
          <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </span>
  
        <a class="navbar-item is-hidden-desktop">
          <span class="icon">
            <i class="fa fa-shopping-cart"></i>
          </span>
        </a>
  
        <div class="navbar-burger burger" @click="isMenuOpen = !isMenuOpen">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div class="navbar-menu" v-bind:class="{ 'is-active': isMenuOpen }">
        <div class="navbar-start">
          <router-link to="/" exact v-on:click.native="isMenuOpen = false" class="navbar-item">Home</router-link>
          <router-link to="/admin" v-on:click.native="isMenuOpen = false" class="navbar-item">Admin</router-link>
          <router-link to="/authoring" v-on:click.native="isMenuOpen = false" class="navbar-item">Authoring</router-link>
          <a href="http://support.digabit.com/" target="_blank" class="navbar-item">Help</a>
        </div>
  
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <figure class="image is-16x16 desktop is-hidden-touch" style="margin-right: 8px;">
                <img src="http://bulma.io/images/jgthms.png">
              </figure>
              Profile
            </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item">
                Notifications
              </a>
              <a class="navbar-item">
                Preferences
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item is-hidden-touch">
                Logout
              </a>
            </div>
          </div>
          <hr>
          <a class="navbar-item is-hidden-desktop">
            Logout
          </a>
          <a class="nav-item is-hidden-touch">
            <span class="icon">
              <i class="fa fa-shopping-cart"></i>
            </span>
          </a>
        </div>
      </div>
    </nav>
    <div>
       <router-view></router-view>
    </div>
   
  </div>
</template>

<script>
export default {
  data () {
    return {
      isMenuOpen: false
    }
  },
  methods: {
    closeMenus () {
      this.isProfileMenuOpen = false
      this.isMenuOpen = false
    }
  }
}
</script>

<style>
.profileMenu {
  height: 52px;
  text-align: left;
}

hr {
  margin: 0;
}
</style>
